*.pkl
attention_mechanisms_img_caption/.ipynb_checkpoints/*
weights/*
.DS_Store
imclass_data/*
data/*
img/*
*.h5
Flicker8K_Dataset/*
attention_mechanisms_img_caption/data/*
attention_mechanisms_image_caption/data/*
